@inherits LayoutComponentBase

<div class="relative flex flex-col md:flex-row">
    <div class="bg-gradient-to-b from-[rgb(5,39,103)] to-[#3a0647] md:w-[250px] md:h-screen md:sticky md:top-0">
        <NavMenu />
    </div>

    <main class="flex-1">
        <div class="bg-[#f7f7f7] border-b border-[#d6d5d5] h-14 flex items-center justify-between px-4 md:justify-end md:sticky md:top-0 md:z-10">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="whitespace-nowrap ml-0 md:ml-6 no-underline hover:underline">About</a>
        </div>

        <article class="px-4 md:pl-8 md:pr-6">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="fixed bottom-0 left-0 w-full bg-[lightyellow] shadow-[0_-1px_2px_rgba(0,0,0,0.2)] py-[0.6rem] px-[1.25rem] hidden z-[1000]" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="no-underline hover:underline">Reload</a>
    <span class="absolute right-3 top-2 cursor-pointer">🗙</span>
</div>
