@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1 class="text-3xl font-semibold mb-4">Counter</h1>

<p role="status" class="mb-4">Current count: @currentCount</p>

<button class="inline-block px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-md active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
